@import 'mixins', 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text_center {
  @include text_center();
}
.align_items_center {
  @include align_items_center();
}
.d_flex {
  @include d_flex();
}
.justify_content_center {
  @include justify_content_center();
}
.header_font_size {
  font-size: $large_font;
}
.large_font{
  font-size: 5rem !important;

}
.button {
  display: inline-grid;
  width: 7rem;
  height: 60px;
  text-decoration: none;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
}
.button:hover{
  opacity: 0.8;
}
.masthead {
  position: relative;
  display: flex;
  width: 100%;
  height: 50rem;
  background-image: url("../images/bg-masthead.jpg");
  background-size: cover;
  h1 {
    width: 100%;
    margin: auto;
    line-height: initial;

  }
  h3 {
    font-size: 1.75rem;
    width: 60%;
    margin: auto;
  }
}
.container {
  width: 100%;
  padding: 0 3rem;
}
.mb_3 {
  margin-bottom: 3rem !important;
}
.button {
  @extend .button;
  background-color: $most_color;
}
.content_section {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.content_section_second {
  @extend .content_section;
  background-color: $most_color;
}
.content_section_third {
  @extend .content_section;
  background-image: url("../images/bg-callout.jpg");
  background-size: cover;
  padding: 15rem 0;
  h1 {
    font-size: 4.5rem;
    width: 70%;
    line-height: initial;
  }
}
.row {
  width: 80%;
}
.mx_auto {
  margin: auto;
}
.button2 {
  @extend .button;
}

.offer {
  width: 25%;
}
.p_2 {
  padding: 0 1.5rem;
}
.white {
  color: white;
  font-size: 20px;
}
.text_faded {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
.head_font {
  font-size: 30px;
}
.service_icon {
  margin: auto;
  margin-bottom: 15px;
  background-color: #fff;
  color: #1d809f;
  height: 4rem;
  width: 4rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.row_second {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.clickable_image_part {
  position: relative;
  width: 50%;
  cursor: pointer;
}
.clickable_image_part:hover .img_fluid {
  transform: scale(0.9);
}

.img_fluid {
  width: 100%;
  vertical-align: middle;
  transition: transform 0.5s;
}
.text_part {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 4em;
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
}
.button3 {
  @extend .button;
  color: black;
  background-color: white;
  margin-right: 1.5em;
  width: 8rem;
}
.button4 {
  @extend .button;
  color: white;
  background-color: black;
  width: 8rem;
}

.map {
  height: 100vh;
  width: 100%;
}
.map_image {
  width: 100%;
  height: 100%;
}
.footer_icon {
  @extend .service_icon;
  margin: 0 0.25rem 3rem;
  background-color: $most_color;
  height: 3rem;
  width: 30%;
}
.footer_container {
  width: 10rem;
  margin: auto;
}
.footer_content_section {
  @extend .content_section;
  padding: 3rem 0;
}
.icon-facebook,.icon-twitter,.icon-github{
  color: white;
  position: absolute;
}




@media only screen and (max-width:480px) {
  .large_font{
    font-size: 3rem !important;
  }
  .container{
    padding: 0 2rem;
  }
  .header_font_size{
    font-size: $medium_font;
  }
  .offer{
    width: 50%;
  }
  .button3{
    margin-right: 0;
  }
  body{
    padding: 0;
  }
}


@media only screen and (min-width:481px) and (max-width:599px) {
  .large_font{
    font-size: 3.5rem !important;
  }
  .offer{
    width: 50%;
  }
  body{
    padding: 0;
  }
 

}
@media only screen and (min-width:600px) and (max-width:991px) {
  .large_font{
    font-size: 4rem !important;
  }
  body{
    padding: 0;
  }
  

}



@media screen and (min-width: 992px) {
}